html
{
	background-color: #00FCBB;
}

div
{
	text-align: center;
}


li
{
	list-style: none;
}

h3
{
	text-align: left;
	padding-left: 30px;
}

#container
{
	border-style: solid;
	width: 1000px;
	margin-left:auto;
	margin-right:auto;
	height: 800px;
}

.top
{
	color: #000000;
	float: left;
	width: 100%;
	height: 15%;
	background-color: #FFA500;
}

.left
{
	float: left;
	width: 20%;
	height: 85%;
	background-color: #00FA56;
}

.profile
{

}

.search
{
	padding: 1px 1px 1px 1px;
	margin: 0px;
	background: #FFFFFF;
}

.rounded
{
	border-radious: 4px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

form
{	/*
	width: 500px;
	margin: 0 auto;*/
}

input[type=text]
{
	color: #BCBCBC;
}

.links
{
	text-align: left;
	padding-left: -10px;
}

.info
{
	text-align: left;
	padding-left: 30px;
}

.content
{
	padding-left: 30px;
	text-align: left;
	background-color: #FFFFFF;
}

.center
{
	float: left;
	width: 60%;
	height: 85%;
	background-color: #677DCC;
}

.right
{	
	float: left;
	width: 20%;
	height: 85%;
	background-color: #A78AC3;
}

.hour
{
	background-color: #A87BC2;
	text-align: left;
	list-style: none;
}