#Container
{
  border-style: double;
  height: 99%
}

h1
{
  border-style: dotted solid double;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 200px;
}

#Notes
{
  border-style: dashed;
}

.Note
{
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
}

.NoteContent
{
  text-align: left;
  border-style: solid;
}