.center
{
	background-color: #99FF98;
	width: 600px;
}

.notes
{
	margin-left:auto;
	margin-right:auto;
	background-color: #00FCBB;
	width: 590px;
}

.note
{
	/*border-radius: 20px;*/
	background-color: #EFEFEF;
	/*margin-top: -16px;
	display: block;
	float: left;
	width: 100%;
	background-color: #FFFFFF;*/
}

.info
{
	border-bottom:1px dashed;	
	/*background-color: #FFFFFF;*/
	text-align: left;
	
	
   /* width: 100%;
    height: 60px;
    line-height: 60px;
    float: right;
    padding-right: 5px;*/
}

.info_left, .info_right
{
	float: left;
}


.info_right
{
	color: #565656;
}

.info_left
{
	font-weight: bold;
	font-size: large;
}

.content
{
	word-wrap: break-word;			/* viktig */
	/*margin-top: -16px;*/
	text-align: left;
}

/*
.option_right
{
	display: block;
	float: left;
	width: 30%;
}
*/