div.createNoteWrapper
{
    margin: 5px;
    padding: 10px;
}

div.createNoteFooter
{
    height: 25px;
    width: 100%;
}

div.privateFlag
{
    float: left;

}

div.formButtons
{
    float: right;

}

select.categoryList
{
    width: 150px;
}

textarea.noteContent
{
    width: 100%;
}

input.privateNoteCheckbox
{
    margin-left: 0px;
}

input.submitButton
{
    margin-right: 0px;
}