
div.yellowTimeObject
{
	background-color: rgb(255,255,98);
	border-color: rgb(244,233,0);
}

div.blueTimeObject
{
	background-color:rgb(177,184,255);
	border-color: rgb(0,105,151);
}

div.greenTimeObject
{
	background-color: rgb(45,215,96);
	border-color: rgb(27,141,61);
}

div.grayTimeObject
{
	background-color:rgb(201,201,201);
	border-color: rgb(155,155,155);
}

div.redTimeObject
{
	background-color:rgb(244,119,125);
	border-color: rgb(237,24,35);
}

div.orangeTimeObject
{
	background-color: rgb(255,162,100);
	border-color: rgb(230,91,0);
}

div.lightRed
{
	background-color: rgb(255,174,201);
	border-color: rgb(159,0,52);
}

div.darkBlue
{
	background-color: rgb(88,128,180);
	border-color: rgb(21,26,81);
}

div.purple
{
	background-color: rgb(170,156,218);
	border-color: rgb(85,62,164);
}
