
div.container
{
	width: 600px;
}

input.searchField
{
	width: 425px;
    font-size: 20px;
    padding: 0px;
}

#searchType
{
    width: 100px;
    margin: 0px;
    padding: 1px;
    height: 37px;
}

.toolbar
{
    border-color: rgb(160, 160, 160);
    border-width: 1px;
    border-style: solid;
    height: 35px;
    font-size: 20px;
    margin: 0px;
}

input.searchBtn
{
    height: 37px;
}

div.searchResultElement
{
    margin-top: -1px;
	width: auto;
	height: 40px;
	border-style: solid;
	border-color: gray;
	border-width: 1px;
}

button.removeButton
{

}

div.objectDescription
{
	font-weight: bold;
	float: left;
	margin-left: 5px;
}

div.notification
{
	width: auto;
	height: 30px;
	background-color: rgb(153,217,234);
	border-color: rgb(0,125,179);
	border-width: 1px;
	border-style: solid;
	color: black;
    margin: 5px;
}

h1
{
    font-size: 25px;
}

#loaderIcon
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a.itemAction
{
    text-align: right;
    float: right;
    font-style: italic;
	margin-right: 5px;
    text-decoration:  none;
    color: inherit;
}

.saveBtn
{
    height: 35px;
    border-width: 1px;
    float: right;
    border-style: solid;
    border-color: gray;
    margin-top: 5px;
}

div.saveBtnWrapper
{
    height: 35px;
}

div.wizzardWrapper 
{
    padding: 5px;
}

div.wizzardInstructions
{
    color: gray;
    font-size: 15px;
    margin-bottom: 10px;
    padding: 10px;
}

div.scheduleOptionWrapper 
{
    float: left;
}